---
import { SignOutButton } from "@clerk/astro/components"
import { getUser } from "../utils/user"
const user = await Astro.locals.currentUser()
const { emailAddress, firstName, lastName} = user?.externalAccounts[0]

const [userData] = await getUser(emailAddress)
---

{userData.role === 'user' && (
	<div class="border border-etrr-white rounded-lg p-4 flex flex-col gap-2">
		<p>¡Ya estas registrado!</p>
		<small>Nombre
			<p class="text-xl">{firstName} {lastName}</p>
		</small>
		<p>Email: {emailAddress}</p>

		{JSON.stringify(userData)}
		
		<SignOutButton class:list={['px-8', 'py-1', 'rounded', 'text-white', 'bg-blue-500', 'hover:bg-blue-600']}>
			Cerrar sesión
		</SignOutButton>
	</div>

	<a href="/workshops">
		<button class="px-8 py-1 rounded bg-etrr-orange/80 font-bold mt-4">
			Inscribirse a un taller
		</button>
	</a>
)}

{userData.role === 'admin' && (
	<div class="border border-etrr-white rounded-lg p-4 flex flex-col gap-2">
		<p>Cuenta Admin</p>
		<small>Nombre
			<p class="text-xl">{firstName} {lastName}</p>
		</small>
		<p>Email: {emailAddress}</p>
		
		<SignOutButton class:list={['px-8', 'py-1', 'rounded', 'text-white', 'bg-blue-500', 'hover:bg-blue-600']}>
			Cerrar sesión
		</SignOutButton>
	</div>

	<a href="/admin">
		<button class="px-8 py-1 rounded bg-etrr-orange/80 font-bold mt-4">
			Ir al panel de administración
		</button>
	</a>
)}
